{
  "$schema": "http://json.schemastore.org/eslintrc",
  "env": {
    "browser": true,
    "es2021": true
  },
  "parser": "@babel/eslint-parser",
  "extends": ["recommended/esnext"],
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error"
  }
}
